<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav id="gnb">
      <ul>
        <li><%= page1 %></li>
        <li><%= page2 %></li>
        <li><%= page3 %></li>
        <li><%= page4 %></li>
      </ul>
    </nav>
  </body>
</html>
